<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console appender - keep your existing log output -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} traceId=%X{traceId} spanId=%X{spanId} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Loki appender - ships logs directly to Loki -->
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://localhost:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=fetrax,host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>
                    level=%level,logger=%logger,thread=%thread,traceId=%X{traceId},spanId=%X{spanId},message=%msg%n
                </pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI"/>
    </root>

    <!-- Reduce noise from framework internals -->
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="gr.fetrax" level="DEBUG"/>

</configuration>